.premium {
  color: rgba(255, 179, 192, 0.973);
  font-family: "Montserrat", sans-serif;
}

.name1 {
  padding: 5rem;
  text-align: center;
  color: rgba(56, 56, 56);
  background-color: rgba(255, 141, 160, 0.973);
}

.name2 {
  margin: 6rem;
  text-align: center;
  color: rgba(255, 141, 160, 0.973);
}

.h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.h2 {
  font-size: 1rem;
  font-weight: 100;
}

.h6 {
  font-size: 0.5rem;
  margin-top: 0.5;
  font-weight: 300;
}

.button {
  text-decoration: none;
  padding: 1rem 5rem;
  margin-top: 4rem;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 141, 160, 0.973);
  border-style: none;
  font-size: 1rem;
}

.button:hover {
  background: rgb(255, 210, 245);
  background: linear-gradient(
    90deg,
    rgba(255, 141, 160, 0.973) 9%,
    rgb(170, 0, 71) 100%
  );
}

.button1 {
  text-decoration: none;
  padding: 1rem 5rem;
  margin-top: 4rem;
  border-radius: 50px;
  color: rgb(255, 210, 245);
  cursor: pointer;
  background-color: black;
  border-style: none;
  font-size: 1rem;
}

.button1:hover {
  background-color: rgba(56, 56, 56);
  background: linear-gradient(90deg, black 5%, rgb(170, 0, 71) 100%);
}

.features {
  padding: 5rem;
  text-align: center;
  color: rgba(56, 56, 56);
  background-color: rgba(255, 141, 160, 0.973);
}

.plans {
  margin: 6rem;
  text-align: center;
  color: rgba(255, 141, 160, 0.973);
}

.flex {
  display: flex;
  gap: 5rem;
  padding: 4rem;
  justify-content: center;
}

.icon {
  height: 5rem;
  margin-bottom: 1.5rem;
  color: white;
  background-color: rgba(56, 56, 56);
  padding: 20px;
  border-radius: 50px;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.desc {
  font-size: 0.8rem;
  text-align: center;
  width: 12rem;
}

.card2 {
  background-color: rgba(255, 141, 160, 0.973);
  padding: 2rem;
  border-radius: 10px;
}

.planheading {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: rgba(56, 56, 56);
}

.points {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: rgba(56, 56, 56);
}

.premuimbt {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 50px;
  color: rgb(255, 210, 245);
  cursor: pointer;
  background-color: black;
  border-style: none;
  margin-top: 2rem;
}

.premuimbt:hover {
  background-color: rgba(56, 56, 56);
  background: linear-gradient(90deg, black 5%, rgb(170, 0, 71) 100%);
}

.flex2 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.icon2 {
  height: 2rem;
  margin-bottom: 1.5rem;
  color: rgba(56, 56, 56);
}
